* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {font-family:"SF Florencesans SC Outline";src:url("SFFlorencesansSCOutline.eot?") format("eot"),url("SFFlorencesansSCOutline.woff") format("woff"),url("SFFlorencesansSCOutline.ttf") format("truetype"),url("SFFlorencesansSCOutline.svg#SFFlorencesansSCOutline") format("svg");font-weight:normal;font-style:normal;}

@font-face {
    font-family: Aller;
    src: url(../Fonts/Aller_Lt.ttf);
}

@font-face {
    font-family: "Leixo";
    src: url("LEIXO-DEMO.ttf");
}

body {
    font-family: "SF Florencesans SC Outline";
    background: white;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding: 2%;
}

.sidenav img {
    width: 100%;
}

.sidenav a {
    font-size: 50px;
    color: blue;
}

.menu a {
    text-decoration: none;
    font-size: 30px;
    font-weight: lighter;
    color: blue;
    display: block;
    line-height: 2em;
}

.menu a:hover {
    color: fuchsia;
}

.menu {
    padding-top: 130%;
}

.main {
    width: 80%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-image: url(Images/Background.gif);
    background-repeat: no-repeat;
    background-size: contain;
    overflow-x: hidden;
    margin-left: 20%;
    padding: 2%;
}

.portfolio {
    text-align: right;
}

.portfolio a {
    font-size: 60px;
    line-height: 1.8em;
}

.portfolio a:hover {
    text-shadow: 5px 5px 0px fuchsia;
}

.portfolio p {
    font-size: 60px;
    line-height: 1.8em;
}

.portfolio p:hover {
    text-shadow: 5px 5px 0px fuchsia;
}

.portfolio img {
    width: 30%;
    padding: 5%;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.mainmenus {
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    overflow-x: hidden;
    margin-left: 20%;
    padding: 2%;
}

#burger-bar {
    width: 5%;
    height: 8%;
    padding: 1%;
    float: left;
    position: fixed;
}

#burger {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.bar {
    height: 25%;
    width: 100%;
    background-color: blue;
    display: block;
}

#bar1 {
    transform: translateY(-50%);
}

#bar3 {
    transform: translateY(50%);
}

.change #bar1 {
    transform: translateY(75%) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-105%) rotate(45deg);
}

.change #bar2 {
    opacity: 0;
}

.navigation li a:hover {
    color: fuchsia;
    font-size: 21px;
}

.navigation li a {
    color: blue;
    text-decoration: none;
    font-size: 20px;
}

.navigation li {
    list-style: none;
    padding: 50%;
}

.navigation {
    padding: 0;
    margin-right: 5%;
    margin-left: 5%;
    transition: 0.5s ease;
    background-color: white;
    display: none;
}

.change {
    display: block;
    z-index: 2;
}

.doodletop {
    width: 40%;
    height: 50%;
    padding: 1%;
    float: right;
}

.doodletopleft {
    height: 100%;
    width: 60%;
    float: left;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background: linear-gradient(white 0%, white 27%, blue 20%, blue 100%);
}

.doodletopleft:hover {
    transform: rotateY(180deg);
}

.doodletopleft h1 {
    padding-left: 5%;
    color: blue;
    font-weight: lighter;
}

.doodletopleft span {
    color: white;
}

.doodletopleft h1,
.doodletopleft p {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.doodletopleft p {
    padding-left: 5%;
    line-height: 2em;
    transform: rotateY(180deg);
}

.doodletopleft a {
    color: blue;
}


.doodletopright {
    height: 100%;
    width: 40%;
    float: right;
}

.doodletopright p {
    font-size: 24px;
    text-align: right;
    padding-bottom: 5%;
    color: blue;
}

.doodletopright p:hover {
    text-shadow: 5px 5px 0px fuchsia;
}

.TLCover {
    width: 60%;
    height: 100%;
    padding: 5%;
    z-index: -1;
}

.TLCover p {
    color: blue;
    font-size: 20px;
    margin-top: 2%;
}

.TLTitle {
    width: 100%;
    height: 90%;
    background-image: url(Images/TechLounge.JPG);
    background-size: contain;
    opacity: 0.7;
}

.DTitle {
    width: 100%;
    height: 90%;
    background-image: url(Images/Doodles.JPG);
    background-size: contain;
    opacity: 0.7;
}

.FATitle {
    width: 100%;
    height: 90%;
    background-image: url(Images/KeaFronter.JPG);
    background-size: contain;
    opacity: 0.7;
}

.CICTitle {
    width: 100%;
    height: 90%;
    background-image: url(Images/CIC.JPG);
    background-image: url(Images/CIC.JPG);
    background-size: contain;
    opacity: 0.7;
}

.ATitle {
    width: 100%;
    height: 90%;
    background-image: url(Images/Space.JPG);
    background-size: contain;
    opacity: 0.7;
}

.Goal {
    margin-top: 5%;
    width: 80%;
    padding: 5%;
    background: blue;
}

.Goal p {
    font-weight: lighter;
    color: white;
    font-size: 30px;
}

.StyleMood{
    width: 100%;
    padding: 5%;
}

.StyleMood p {
    font-weight: lighter;
    color: blue;
    font-size: 30px;
}

.StyleMood h1 {
    font-family: "Leixo";
    font-weight: lighter;
    color: blue;
    font-size: 30px;
}

.StyleMood h2 {
    font-family: Courier;
    font-weight: lighter;
    color: blue;
    font-size: 30px;
}

.StyleMood span {
    font-family: Arial;
    font-weight: lighter;
    color: blue;
    font-size: 30px;
}

.allcolours {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.allcolours p {
    font-size: 15px;
}

.colour1 {
    margin: 1%;
    padding: 5%;
    width: 5%;
    height: 5%;
    background-color: #126290;
    border-radius: 50px;
}

.colour2 {
    margin: 1%;
    padding: 5%;
    width: 5%;
    height: 5%;
    background-color: #059884;
    border-radius: 50px;
}

.colour3 {
    margin: 1%;
    padding: 5%;
    width: 5%;
    height: 5%;
    background-color: #664b80;
    border-radius: 50px;
}

.colour4 {
    margin: 1%;
    padding: 5%;
    width: 5%;
    height: 5%;
    background-color: #b94e9d;
    border-radius: 50px;
}

.colour5 {
    margin: 1%;
    padding: 5%;
    width: 5%;
    height: 5%;
    background-color: #30465d;
    border-radius: 50px;
}

.colour6 {
    margin: 1%;
    padding: 5%;
    width: 5%;
    height: 5%;
    background-color: #58CBE8;
    border-radius: 50px;
}

.colour7 {
    margin: 1%;
    padding: 5%;
    width: 5%;
    height: 5%;
    background-color: #0762E8;
    border-radius: 50px;
}

.colour8 {
    margin: 1%;
    padding: 5%;
    width: 5%;
    height: 5%;
    background-color: #4C374B;
    border-radius: 50px;
}

.colour9 {
    margin: 1%;
    padding: 5%;
    width: 5%;
    height: 5%;
    background-color: #FFB4AA;
    border-radius: 50px;
}

.colour10 {
    margin: 1%;
    padding: 5%;
    width: 5%;
    height: 5%;
    background-color: #B1E5FF;
    border-radius: 50px;
}

.colour11 {
    margin: 1%;
    padding: 5%;
    width: 5%;
    height: 5%;
    background-color: #ff562e;
    border-radius: 50px;
}

.colour12 {
    margin: 1%;
    padding: 5%;
    width: 5%;
    height: 5%;
    background-color: #000c2e;
    border-radius: 50px;
}

.colour13 {
    margin: 1%;
    padding: 5%;
    width: 5%;
    height: 5%;
    background-color: #020202;
    border-radius: 50px;
}

.colour14 {
    margin: 1%;
    padding: 5%;
    width: 5%;
    height: 5%;
    background-color: #fcfdff;
    border-radius: 50px;
    border-color: black;
    border: 0.5px solid;
}

.colour15 {
    margin: 1%;
    padding: 5%;
    width: 5%;
    height: 5%;
    background-color: #363636;
    border-radius: 50px;
}

.colour16 {
    margin: 1%;
    padding: 5%;
    width: 5%;
    height: 5%;
    background-color: #000091;
    border-radius: 50px;
}

.colour17 {
    margin: 1%;
    padding: 5%;
    width: 5%;
    height: 5%;
    background-color: #61361f;
    border-radius: 50px;
}


.process{
    width: 100%;
    padding: 5%;
}

.process p {
    font-weight: lighter;
    color: blue;
    font-size: 30px;
}

.interviews {
    width: 100%;
    display: grid;
    grid-template-columns: (1fr 1fr);
}

.questions {
    width: 50%;
}

.questions p {
    font-size: 17px;
    color: black;
    padding-bottom: 10%;
}

.process span {
    padding-top: 5%;
    font-size: 40px;
}

.process span:hover {
    color: red;
}

.secondpart p {
    padding-top: 5%;
    font-size: 18px;
    text-align: center;
}

.secondpart span {
    color: fuchsia;
    font-size: 18px;
}

.interviews img{
    width: 30%;
    height: 40%;
    margin: 5%;
}


.keyinsights{
    width: 100%;
    padding: 5%;
    background: blue;
}

.MBandST{
    width: 100%;
    padding: 5%;
}

.MBandST img {
    width: 100%;
}

.keyinsights p {
    font-weight: lighter;
    color: white;
    font-size: 30px;
}

.keyinsights span:hover {
    background: white;
    color: blue;
    font-style: italic;
    font-weight: bolder;
}

.projectimages {
    padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.projectimages img {
    width: 100%;
}

.projectimages1 {
    padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.projectimages1 img {
    width: 100%;
    height: 97%;
}

.personalobservations {
    width: 100%;
    padding: 5%;
}

.personalobservations p {
    text-align: center;
    font-weight: lighter;
    color: blue;
    font-size: 30px;
}

.aboutme {
    width: 100%;
}

.aboutme p {
    text-align: right;
    font-weight: lighter;
    color: blue;
    font-size: 30px;
}

@media(max-width: 960px) {
    .menu a {
    font-size: 13px;
}
.sidenav a {
    font-size: 18px;
}
    .menu {
        padding-top: 650%;
    }
    .portfolio a {
    font-size: 30px;
}

    .doodletopright p {
    font-size: 10px;

}
